*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0F172A;
    color:white;
}

a{
    text-decoration:none;
    color:white;
}

li{
    list-style:none;
}

.navbar{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;
}

.logo{

    font-size:28px;
    font-weight:bold;

    color:#38BDF8;
}

.nav-links{

    display:flex;
    gap:35px;
}

.nav-links a{

    transition:.3s;
}

.nav-links a:hover{

    color:#38BDF8;
}

.btn{

    padding:12px 25px;

    border:none;
    border-radius:8px;

    background:#38BDF8;

    cursor:pointer;

    font-weight:bold;
}

.hero{
    width:90%;
    margin:auto;
    min-height:85vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:50px;
}

.hero-content{
    flex:1;
}

.tag{

    display:inline-block;

    background:#1E293B;
    color:#38BDF8;

    padding:10px 20px;

    border-radius:50px;

    margin-bottom:25px;
}

.hero h1{

    font-size:65px;
    line-height:1.2;
}

.hero h1 span{

    color:#38BDF8;
}

.hero p{

    margin:25px 0;
    color:#CBD5E1;
    max-width:550px;
    line-height:1.7;
}

.hero-btns{

    display:flex;
    gap:20px;
}

.primary-btn{

    padding:15px 35px;

    border:none;

    background:#38BDF8;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

    font-weight:bold;
}

.secondary-btn{

    padding:15px 35px;

    background:transparent;

    border:2px solid #38BDF8;

    color:white;

    border-radius:10px;

    cursor:pointer;
}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;
}

.server-card{

    width:350px;

    background:#1E293B;

    padding:35px;

    border-radius:20px;

    box-shadow:0 0 35px rgba(56,189,248,.2);

    animation:float 4s ease-in-out infinite;
}

.server-card h3{

    font-size:28px;

    margin-bottom:20px;
}

.server-card p{

    margin:15px 0;

    font-size:18px;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}

/* ==========================
        Stats Section
========================== */

.stats{

    width:90%;
    margin:80px auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;
}

.stat{

    background:#1E293B;

    padding:35px;

    border-radius:15px;

    text-align:center;

    transition:.3s;
}

.stat:hover{

    transform:translateY(-10px);
}

.stat h2{

    color:#38BDF8;

    font-size:42px;

    margin-bottom:10px;
}

.stat p{

    color:#CBD5E1;
}

/* ==========================
      Features Section
========================== */

.features{

    width:90%;

    margin:100px auto;
}

.features h2{

    text-align:center;

    font-size:40px;

    margin-bottom:60px;
}

.feature-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.feature-card{

    background:#1E293B;

    padding:35px;

    border-radius:18px;

    transition:.4s;

    cursor:pointer;
}

.feature-card:hover{

    transform:translateY(-12px);

    box-shadow:0 0 25px rgba(56,189,248,.25);
}

.feature-card h3{

    margin-bottom:18px;

    color:#38BDF8;
}

.feature-card p{

    line-height:1.7;

    color:#CBD5E1;
}

/* ==========================
      Pricing Section
========================== */

.pricing{

    width:90%;

    margin:120px auto;

    text-align:center;
}

.pricing h2{

    font-size:42px;

    margin-bottom:60px;
}

.pricing-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;
}

.price-card{

    background:#1E293B;

    border-radius:20px;

    padding:45px 30px;

    position:relative;

    transition:.4s;
}

.price-card:hover{

    transform:translateY(-15px);

    box-shadow:0 0 35px rgba(56,189,248,.25);
}

.price-card h3{

    font-size:28px;

    margin-bottom:20px;

    color:#38BDF8;
}

.price-card h1{

    font-size:55px;

    margin-bottom:30px;
}

.price-card span{

    font-size:18px;

    color:#94A3B8;
}

.price-card ul{

    list-style:none;

    margin-bottom:35px;
}

.price-card li{

    margin:15px 0;

    color:#CBD5E1;
}

.price-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#38BDF8;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.price-card button:hover{

    background:#0EA5E9;
}

.popular{

    transform:scale(1.05);

    border:2px solid #38BDF8;
}

.badge{

    position:absolute;

    top:-15px;

    left:50%;

    transform:translateX(-50%);

    background:#38BDF8;

    color:#000;

    padding:8px 20px;

    border-radius:30px;

    font-weight:bold;

    font-size:14px;
}

/* Testimonials */

.testimonials{

    width:90%;

    margin:120px auto;

    text-align:center;
}

.testimonials h2{

    font-size:42px;

    margin-bottom:60px;
}

.testimonial-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.testimonial-card{

    background:#1E293B;

    padding:35px;

    border-radius:20px;

    transition:.3s;
}

.testimonial-card:hover{

    transform:translateY(-10px);
}

.testimonial-card p{

    line-height:1.8;

    color:#CBD5E1;

    margin-bottom:25px;
}

.testimonial-card h4{

    color:#38BDF8;
}

.testimonial-card span{

    color:#94A3B8;
}

.faq{

width:70%;

margin:120px auto;
}

.faq h2{

text-align:center;

margin-bottom:50px;

font-size:42px;
}

.faq-item{

margin-bottom:20px;
}

.faq-question{

width:100%;

padding:20px;

background:#1E293B;

border:none;

color:white;

text-align:left;

cursor:pointer;

font-size:18px;

border-radius:10px;
}

.faq-answer{

display:none;

padding:20px;

background:#334155;

border-radius:0 0 10px 10px;
}