*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0F172A;
    color:white;
}

a{
    text-decoration:none;
    color:white;
}

li{
    list-style:none;
}

.navbar{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;
}

.logo{

    font-size:28px;
    font-weight:bold;

    color:#38BDF8;
}

.nav-links{

    display:flex;
    gap:35px;
}

.nav-links a{

    transition:.3s;
}

.nav-links a:hover{

    color:#38BDF8;
}

.btn{

    padding:12px 25px;

    border:none;
    border-radius:8px;

    background:#38BDF8;

    cursor:pointer;

    font-weight:bold;
}